{% extends "base.html" %}


{% block title %}
<title>SafeRide Dispatch</title>        
<style rel='stylesheet' type='text/css'>
    body {
        margin: 10px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    tr:hover {background-color: #f5f5f5}
    thead { 
        text-align: left;
        font-weight: bold;  
    }
    tbody td {
        font-size: 100%;
        border-bottom: 1px solid #ddd;

    }
    caption {
        font-size: 90%;
        text-align: right;
    }
    td, th, caption {
        padding: 3px;
    }
</style>
{% endblock %}

{% block content %}
<h3 text-align="center">Requested Rides</h3>
<table><tbody>
    <thead>
        <td>UO ID</td>
        <td>Name</td>
        <td>People</td>
        <td colspan="2">Pickup Info</td>
        <td>Dropoff</td>
        <td>Special Request</td>
        <td>Delete?</td>
    </thead>

    {% for ride in rides %}
    <tr>
        <td>{{ride.uoid}}</td>
        <td>{{ride.name}}</td>
        <td>{{ride.group_size}}</td>
        <td>{{ride.pickup_time.hour}}:{{ride.pickup_time.minute}}</td>
        <td>{{ride.pickup_addr}}</td>
        <td>{{ride.dropoff_addr}}</td>
        <td>{{ride.special}}</td>
        <td><form><input
            id="deleteButton"
            type="image"
            src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png"
            height="20px"
            onClick="deleteEntry()">
        </form></td>
        <script type="text/javascript">
            function deleteEntry() {
                window.alert("DELETED");
                // DUSTIN: This is where the document deletion should go
            }
        </script>
    </tr>
    {% endfor %}
</tbody></table>
{% endblock %}
