<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Success</title>
        
        
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            
            <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
                
                
    </head>
    
    <body onload="setTimeout(redirect, 5000)">
        <script type="text/javascript">
            function redirect() {
                window.location.replace(localhost:5000/about);
            }
        </script>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/">Home</a>
                        </li>
                        <li role="presentation"><a id="link" href="/about">About</a>
                        </li>
                        <li role="presentation"><a href="/contact">Contact</a>
                        </li>
                        <li role="presentation"><a href="/admin">Admin</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted"><a style="text-decoration: none" href="/">SafeRide UO</a></h3>
            </div>
            
            <div class="jumbotron">
                <h1>Request Submitted!</h1>
                <p class="lead"></p>
            </div>
            
            <footer class="footer">
                <p>&copy; CIS 422</p>
            </footer>
            
        </div>
    </body>
    
</html>